@if (step1) {
<section class="w-50 mx-auto rounded bg-main-ligth p-3 my-4 shadow">
  <form [formGroup]="forgetForm" (submit)="forgetPass()">
    @if (userMsg) {
    <p class="alert alert-danger w-50 mx-auto p-2">{{ userMsg }}</p>
    }
    <label for="email"> Email</label>
    <input
      type="email"
      id=" email"
      class="form-control"
      formControlName="email"
    />
    <button class="main-btn d-block ms-auto mt-3">Send</button>
  </form>
</section>
} @if (step2) {
<section class="w-50 mx-auto rounded bg-main-ligth p-3 my-4 shadow">
  <form [formGroup]="resetCode" (ngSubmit)="resetTheCode()">
    @if (userMsg) {
    <p class="alert alert-danger w-50 mx-auto p-2">{{ userMsg }}</p>
    }
    <label for="resetCode"> Reset Code</label>
    <input
      type="text"
      id=" resetCode"
      class="form-control"
      formControlName="resetCode"
    />
    <button class="main-btn d-block ms-auto mt-3">Send</button>
  </form>
</section>
} @if (step3) {
<section class="w-50 mx-auto rounded bg-main-ligth p-3 my-4 shadow">
  <form [formGroup]="newPass" (ngSubmit)="newPassword()">
    @if (userMsg) {
    <p class="alert alert-danger w-50 mx-auto p-2">{{ userMsg }}</p>
    }
    <label for="newpass"> New Password</label>
    <input
      type="password"
      id=" newpass"
      class="form-control"
      formControlName="newPassword"
    />
    <button class="main-btn d-block ms-auto mt-3">Submit</button>
  </form>
</section>
}
